.btn-back {
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 20px;

}

.btn {
    border: none;
}

.btn-secondary {
    margin-bottom: 20px;
    background-color: #888B8D;

}

.btn-secondary:hover {
    background-color: #6b6e70;
}

.btn-primary {
    background-color: #007FC8;
}

.btn-primary:hover {
    background-color: #0067a3;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.leaflet-popup-content {
    margin: 10px;
    text-align: center;
}

.leaflet-popup-content button {
    white-space: nowrap;
}

.leaflet-popup-close-button {
    display: none;
}